#landing {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 93vh; 

    /* background-image: url("assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background: rgb(2,0,36);
    background: linear-gradient(277deg, var(--purple2) 0%, var(--purple1) 100%); 

}

#landing-text {
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding-left: 10rem;
    padding-top: 12rem;
}

.landing-title {
    font-size: 5rem;
    font-weight: bold;
    text-align: left;
}

.mirrored {
    transform: scale(1, -1);
    opacity: 0.5;
    position: relative;
    bottom: 0.5em;
    background: -webkit-linear-gradient(transparent, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing-subtitle {
    padding-top: 1rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;

}

/* #heading {
    color: aliceblue;
    font: helvetica-neue, sans-serif;
    font-size: 6em;
    justify-content: left;
    padding: 2em;
}

#heading2 {
    color: aliceblue;
    font: helvetica-neue, sans-serif;
    font-size: 4em;
    justify-content: left;
    padding: 2em;
} */