.info-body {
    padding: 30px;
    font-size: 1.25rem;
}

.info-body label {
    font-weight: 700;
    margin-top: 10px;
}

.info-category {
    padding: 5px 10px;
    border-radius: 5px;
}

.info-time {
    margin-left: 20px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30px 20px;
    grid-template-areas: 
        "start start to end end"
        "start-earlier start-later blank end-earlier end-later";
    justify-items: center;
    align-items: center;
}

.buttons * {
    margin: 0 2px;
    cursor: pointer;
    opacity: 0.5;
    user-select: none;
} 
.buttons *:hover {
    opacity: 1;
}

.info-description {
    font-size: 1rem;
    font-weight: 300;
}

#save {
    font-size: 1.5rem;
    margin-top: 20px;
}