.timetable {
    position: relative;
    padding: 20px;
    background: lightgrey;
    border-radius: 10px;
}

#toggle-lines {
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 0.75em;
}

#today {
    margin-bottom: 5px;
    font-size: 2em;
    font-weight: 200;
}

.timetable-heading {
    margin: 5px 0;
    display: grid;
    grid-template-columns: 70px 5fr 3fr;
    font-size: 1.3em;
    font-weight: 700;
}

.add {
    position: relative;
    bottom: 3px;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 50%;
}
.add:hover {
    opacity: 1;
    box-shadow: 0 0 20px 0 white;
}

.timetable-body {
    grid-area: timetable;
    position: relative;
    height: 75vh;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 70px 5fr 3fr;
    grid-template-rows: repeat(288, 8px);
    grid-gap: 0.5px;
}

.event {
    background: blue;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.delete {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
    background-color: inherit;
    cursor: pointer;
    opacity: 0.5;
}
.delete:hover {
    opacity: 1;
}

.edit {
    position: absolute;
    right: 30px;
    top: 10px;
    width: 15px;
    height: 15px;
    background-color: inherit;
    cursor: pointer;
    opacity: 0.5;
}
.edit:hover {
    opacity: 1;
}

.copy {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 0.75em;
}

.hidden {
    visibility: hidden;
}

.hour-line {
    background-color: gray;
    height: 1px;
    z-index: 1000;
}

#now {
    position: absolute;
    background-color: red;
    height: 2px;
    width: 100%;
    z-index: 1001;
}

/* .activity button {
    display: block;
} */