.sidebar {
    grid-area: sidebar;
    background: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.calendar {
    background: darkblue;
    color: white;
    height: 20vh;
}

.categories {
    background: lightblue;
    height: 40vh;
    overflow-y: scroll;
    padding: 0 10px;
    
}

.categories * {
    height: 7vh;
    width: 100%;
    margin: 10px 0;
    background: white;
}

/* button {
    width: 10%;
} */