.category {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.main- {
    height: 6vh;
    width: 100%;
}

.sub- {
    height: 5vh;
    width: 85%;
    align-self: flex-end;
    font-size: 0.875em;
}

.active- {
    border: 3px dashed var(--font);
}

.category * {
    z-index: 2;
}

#reverse-progress-bar {
    position: absolute;
    right: 0;
    height: 100%;
    background: var(--background);
    opacity: 0.4;
    border-radius: 0 5px 5px 0;
    z-index: 1;
}

.category-name {
    grid-column: 1 / 5;
}

.play {
    grid-column: 5 / 7;
}

.countdown {
    grid-column: 7 / 9;
}

.stop {
    grid-column: 5 / 6;
}

.time {
    grid-column: 6 / 9;
}

.warning {
    font-weight: bold;
    color: red;
}


.play, .stop, .countdown {
    height: 60%;
    opacity: 0.3;
    cursor: pointer;
} 

.sub .play, .sub .stop, .sub .countdown {
    width: 20px;
    height: 20px;
}

.play:hover, .stop:hover, .countdown:hover {
    opacity: 1;
}