.category-group {
    width: 100%;
    margin-bottom: 10px;
}

.subcategory-container {
    height: 5vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: end;
}

.elbow-connector {
    height: 3vh;
    width: 10%;
    border-bottom: 2px solid var(--soft-lines);
    border-left: 2px solid var(--soft-lines);
}

.plus {
    height: 4vh;
    width: 80%;
    font-size: 4vh;
    color: var(--font);
    text-align: left;
    padding-left: 5%;
    align-self: flex-end;
    display: flex;
    align-items: center;
}