.sidebar {
    grid-area: sidebar;
    background: lightgray;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.categories {
    background: white;
    height: 40vh;
    border-radius: 10px;
    padding: 10px;
}

#new-category {
    height: 10%;
}

.category-list {
    background: white;
    height: calc(90% - 10px);
    overflow-y: scroll;
    margin-top: 10px;
}

.category {
    height: 6vh;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* button {
    width: 10%;
} */