.sidebar {
    grid-area: sidebar;
    background: lightgray;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.react-datepicker__day, .react-datepicker__day-name {
    line-height: 1.2rem !important;
}

.react-datepicker__day--today {
    border-radius: 0.3rem; 
    font-weight: 900 !important;
}

.react-datepicker__day--selected {
    background-color: #8282b9 !important;
    font-weight: 900;
}

.react-datepicker__day--keyboard-selected {
    background-color: white !important;
    color: black !important;
}

.categories {
    background: white;
    height: 40vh;
    border-radius: 10px;
    padding: 10px;
}

#new-category {
    height: 10%;
}

.category-list {
    background: white;
    height: calc(90% - 10px);
    overflow-y: scroll;
    margin-top: 10px;
}

.category {
    height: 6vh;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr 40px 40px;
    justify-items: center;
    align-items: center;
}

.play, .timer {
    width: 25px;
    height: 25px;
    opacity: 0.3;
    cursor: pointer;
} 
.play:hover, .timer:hover {
    opacity: 1;
}