#analytics-page {
    height: 93vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar component";
}

#analytics-select {
    grid-area: sidebar;
    justify-content: space-right;
    background: linear-gradient(277deg, rgba(2,0,36,1) 0%, rgba(127,149,248,1) 0%, rgba(149,137,248,1) 100%); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

#analytics-date-picker {
    display: inline-block;
    padding: 2rem;
    padding-bottom: 0 !important;
}

#analytics-view-picker {
    display: inline-block;
    padding: 2rem;
}

#analytics-component {
    grid-area: component;
    display: flex;
    align-items: center;
    justify-content: space-around;
}