#analytics-page {
    height: 93vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar component";
    color: var(--font);
    background: var(--background);
}

#analytics-select {
    grid-area: sidebar;
    justify-content: space-right;
    background: linear-gradient(277deg, var(--purple1) 0%, var(--purple2) 100%); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

#analytics-date-picker {
    display: inline-block;
    padding: 2rem;
    padding-bottom: 0 !important;
}

#analytics-view-picker {
    display: inline-block;
    padding: 2rem;
}

.analytics-dropdown {
    color: black;
}

#analytics-component {
    grid-area: component;
    display: flex;
    align-items: center;
    justify-content: space-around;
}