.category-group {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.toggle-category {
    width: 7%;
    height: 2vh;
    position: absolute;
    top: 2vh;
    right: 0;
    cursor: pointer;
}
.toggle-category:hover {
    filter: brightness(var(--hover-brightness));
}

.subcategory-container {
    height: 6vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}

.t-connector, .elbow-connector {
    height: 3.5vh;
    width: 10%;
    border-bottom: 2px solid var(--contrast-lines);
    border-left: 2px solid var(--contrast-lines);
    margin-left: 5%;
    position: relative;
}
.t-connector::after {
    position: absolute;
    top: 3.5vh;
    left: -2px;
    height: 2.5vh;
    border-left: 2px solid var(--contrast-lines);
    content: "";
}

.subcategory-edit-text {
    background: transparent;
    color: var(--font);
}

.edittext-container {
    height: 4vh;
    width: 70%;
    position: relative;
    top: 0.5vh;
    font-size: 1.5vh;
    text-align: left;
    color: var(--font);
}