.selected-colour {
    border: 2px solid var(--highlight);
}

.new-category-label {
    font-size: 1.25em;
    font-weight: 600;
}

.colours {
    display: flex;
}

.colour {
    height: 25px;
    width: 25px;
    margin: 0 5px;
}