.sidebar {
    grid-area: sidebar;
    background: linear-gradient(277deg, var(--purple1) 0%, var(--purple2) 100%); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    box-sizing: border-box;

    /* border-width: 0.2rem; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10) !important;
    /* box-shadow: 10px 0 5px -2px #888 !important; */
    order: 2;
}

.react-datepicker {
    background-color: var(--background) !important;
    border: none !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10) !important;
}

.react-datepicker__header {
    background-color: var(--light-slot) !important;
}

.react-datepicker__day, .react-datepicker__day-name, .react-datepicker__current-month {
    line-height: 1.2rem !important;
    color: var(--font) !important;
}

.react-datepicker__day--today {
    border-radius: 0.3rem; 
    border: 1px solid #8282b9;
    font-weight: 900 !important;
}

.react-datepicker__day--selected {
    background-color: #fc9f9f !important;
    font-weight: 900;
    color: black !important;
}

.react-datepicker__day--keyboard-selected {
    background-color: transparent !important;
    color: var(--font);
}

.react-datepicker__day--outside-month {
    color: gray !important;
}

.categories {
    background: var(--background);
    height: 50vh;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10) !important;
}

.category-list {
    height: 85%;
    overflow-y: scroll;
    margin-top: 10px;
    padding-right: 15px;
}