#navbar {
    /* background-color: # !important; */
    background: rgb(2,0,36);
    background: linear-gradient(277deg, var(--purple1) 0%, var(--purple2) 100%); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    order: 1; 
    height: 7vh;
}

/* #navbar-name {
    color: #fff !important;
} */

.navbar-brand {
    color: #fff !important;
    /* font-size: 1.5rem; */
    font-weight: bold;
}

.nav-link {
    color: #fff !important;
}

.toggle-theme {
    float: right;
}

.btn-secondary, .btn-secondary:hover {
    background-color: #d3d3d3;
    color: black;
}