.light-theme {
    --font: black;
    --background: #eef3f9;
    --light-slot: #f8f8f8;
    --dark-slot: #e8f8f8;
    --light-slot-2: white;
    --dark-slot-2: #f0ffff;
    --lines: gray;
    --soft-lines: #aeaeae;
    --purple1: #af89f8;
    --purple2: #7f95f8;
}

.dark-theme {
    --font: white;
    --background: #121333;
    --light-slot: #252440;
    --dark-slot: #201e39;
    --light-slot-2: #2d2c48;
    --dark-slot-2: #282641;
    --lines: black;
    --soft-lines: #444;
    --purple1: #3e2967;
    --purple2: #414f8c;
}
