.presets {
    margin: 20px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: stretch;
    align-items: center;
    color: black;
}

.preset {
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    background: #9ed9d9;
}
.preset:hover {
    background: #8fadcc;
}

#selected-preset {
    background-color: #8282b9;
}

#start-timer {
    font-weight: 700;
    font-size: 1.5em;
    margin: 20px 50px;
    padding: 0 20px;
    float: right;
}